@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;



body{
  background-color: hsl(218, 23%, 16%)  ;
  display: flex;
  justify-content: center;
  
  
}

.container{
  background-color: hsl(217, 19%, 24%);
  color: whitesmoke;
  font-weight: 900;
  font-family: 'Manrope';
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: ;
 
  
  border-radius: .5em;
  padding:2.3rem .8rem 0rem .8rem ;
  align-items: center;
  width: 32%;
  min-width: 250px;
  

  

}




.advice-number{
  
  font-weight: 600;
  color: hsl(150, 100%, 66%);
  font-size: .6rem;
  letter-spacing: .5em;
}

.advice-statement{
  font-size: 1.3rem;

  
  padding-bottom: 2rem;
  color: hsl(193, 38%, 86%);
  
  
}

.dice{
  width:1.4rem;
  
  position: relative;
  z-index: 999;
  
  
  
}

.circle-wrapper{
  align-self: center;
  background-color: hsl(150, 100%, 66%);
  border-radius: 100%;
  position: relative;
  top: 33px;
  
  padding: 1rem;
  
  
}


.circle-wrapper :hover{
  
  cursor: pointer;
  box-shadow: 0 0 30px 15px rgba(70, 206, 136, 0.37), 0 0 40px 20px rgba(70, 206, 136, 0.356), 0 0 60px 30px rgba(70, 206, 136, 0.185);
  
  
}



.divider{
  width: 97%;
  align-self: center;
}


.main-wrapper{
  width: 100%;
 
  display: flex;
  flex-direction: column;
  padding-bottom: .3rem;
  
  

}

